<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tojintao.mapper.UserMapper">

    <select id="login" parameterType="cn.tojintao.model.entity.User" resultType="cn.tojintao.model.entity.User">
        select * from user where user_name = #{userName} and password = #{password}
    </select>

    <select id="getUserById" resultType="cn.tojintao.model.entity.User">
        select * from user where user_id = #{userId}
    </select>

    <select id="getUserByIdList" parameterType="java.util.List" resultType="cn.tojintao.model.entity.User">
        select * from user where user_id in
        <foreach collection="userIdList" item="userId" index="index" open="(" close=")" separator=",">
            #{userId}
        </foreach>
    </select>

    <select id="getUserByName" resultType="cn.tojintao.model.entity.User">
        select * from user where user_name = #{userName}
    </select>

    <select id="getAllGroup" resultType="cn.tojintao.model.entity.Group">
        select *
        from `group`
        where group_id
        in (select group_id from group_user where user_id = #{userId})
    </select>

    <select id="getGroupUser" resultType="java.lang.Integer">
        select user_id from `group_user` where group_id = #{groupId}
    </select>

    <select id="getGroupById" resultType="cn.tojintao.model.entity.Group">
        select * from `group` where group_id = #{groupId}
    </select>
</mapper>
